<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Createreviewback"
        tools:targetApi="31">

        <!-- Calendar Widget Receiver -->
        <receiver
            android:name=".CalenderWidget"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/calender_widget_info" />
        </receiver>

        <!-- FileProvider for sharing files -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name="home"
            android:exported="true"
            android:label="home"></activity>

        <activity android:name=".location"
            android:exported="true"
            android:label="location"/>

        <activity android:name=".mainHome"
            android:exported="true"
            android:label="mainHome"></activity>

        <activity android:name=".Login"
            android:exported="true"
            android:label="Login"></activity>

        <activity android:name=".Register"
            android:exported="true"
            android:label="Register"></activity>

        <activity
            android:name=".GoogleMaps"
            android:exported="false"
            android:label="googlemaps" />

        <activity android:name=".usereditact"
            android:exported="true"
            android:label="usereditact"></activity>

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Calendar Widget Service -->
        <service
            android:name=".CalendarWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <!-- Notification Receiver -->
        <receiver android:name=".NotificationReceiver" android:enabled="true" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="ur key" />


    </application>

</manifest>
